{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
        {% if arc_added %}
        <div class="alert alert-success">
          <p> Well Done!  You just added an ARC:  {{arc_added}}
        </div>
        {% endif %}
        {% if flash %}
        <div class="alert alert-{{flash.level}}">
          <p> {{ flash }} </p>
        </div>
        {% endif %}

        <form action="{% url home %}" method="GET">
          <input class="well visible-phone" type="submit" value="ARC" />
          {{ form }}
        </form>
        <div class="row btn-toolbar" style="margin-top: 20px; text-align: left;" >
          <div class="span10 btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              List all ARCS
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu">
              {% for arc in arcs %}
              <div class="span3"> <a class="btn ARC" id="{{ arc.shortcut }}" href="#" data-content="<div class='well prettyprint'> {{arc.escaped_target}} </div> <h5> {{ arc.escaped_comment }} </h5>" rel="popover" data-original-title="{{arc.command_type.name}}"> {{ arc }} </a></div>
              {% endfor %}
            </div>
            <div class="btn-group">
              <a class="btn dropdown-toogle" href="#addARC" data-toggle="modal" > Add ARC </a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-unit hidden-phone">
        <h2> Make ARC your default search! </h2>
        <p>  ARC will search google for you if the query isn't an ARC so it's pretty much just gravy. </p>
        <p>  <h4> In Firefox: </h4>  Type "about:config" search for keyword and enter "http://awesomevm:1111/?q=". </p>
        <p>  <h4> In Chrome: </h4>  Right click the search bar and select this site as the default search engine. </p>
      </div>
      <div class="hero-unit hidden-phone">
        <h4> About <h4>
            <p> Most things that are done are repeated. 
            ARCs are simple user generated shortcuts for accomplishing common tasks.  Create, share, and enjoy.
            It's also a bit like voluntary  XSS so please only run ARC you trust.
            </p>
          </div>
        <div class="modal hide fade" id="addARC">
          <div class="modal-header">
            <h3>ADD an ARC</h3>
          </div>
          <div class="modal-body">
            <p>
            <form action="{% url home %}" method="POST">
              {{ form_add }}
              {% csrf_token %}
              </p>
            </div>
            <div class="modal-footer">
              <a class="btn close" data-dismiss="modal">Close</a>
              <input type="submit" class="btn btn-primary" value="Add ARC"></input>
            </form>
          </div>
        </div> 
        <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap.js"></script>
        {% if form_add.errors %}
        <script> $('#addARC').modal('show') </script>
        {% endif %}

        <script>
          $(".ARC").popover();
          $(".ARC").click( function(){
            $("#id_q").val($(this).attr("id"));
          });
        </script>
        {% if template %}
        {{template|safe}}
        {% endif %}
        
      {% endblock %}
